*{
    margin:0px;
    padding: 0px;
}
/*Definiciones de selectores*/
body{
    background-color: white;
    color: #222;
    font: 200 14px 'Poppins', sans-serif
}
h1{
    font-size: 42px;
    font-weight: 400;
}
h2{
    font-size: 36px;
    font-weight: 300;
}
h3 {
    color:#ffc900;
    font-weight: 200;
}
p{
    text-align: justify;
}
thead{
    background-color: #222;
    color: white;
}
td{
    min-width: 150px;
}
li{
    list-style: none;
    float:left;
}
i{
    margin-right: 5px;
}
a{
    text-decoration: none;
}
nav{
    position:fixed;
    width: 100%;
    height: 55px;
    background-color: #222;
    border-bottom: 1px solid white;
    padding-top: 10px;
    text-align: center;
}
nav ul{
    display: inline-block;
}
nav ul li{
    padding-top: 12px;
    text-transform: uppercase;
}

a:any-link{
    color:white;
}
a:-webkit-any-link {
    color:white;
}
a:-moz-any-link {
    color:white;
}
a:hover{
    color: #ffc900;
}
section{
    padding: 10px 100px 10px 100px;
}
ul{
    list-style: none;  
}
li{
    float: left;
    /*width: 30px;*/
    margin-right: 5px;
}
/*Definiciones de clases y ids*/
#datos{
    padding-top: 65px;
}
#datoscontenedor{
    display: flex;
    column-gap: 10px;
}
#educacion{
    background-color: #222;
    color: white;
}
#experiencia{
    border-top: 1px solid #ffc900;
    background-color: #222;
    color:
     white;
}
.enlace:hover{
    color: #ffc900;
}
.logo{
    padding-top: 0px;
}