/*Definiciones de selectores*/
body{
    background-color: white;
    color: #222;
    font: 200 14px 'Poppins', sans-serif
}
h1{
    font-size: 42px;
    font-weight: 400;
}
h2{
    font-size: 36px;
    font-weight: 300;
}
p{
    text-align: justify;
}
/*Definiciones de clases y ids*/
#educacion{
    background-color: #222;
    color: white;
}
#experiencia{
    background-color: #222;
    color: white;
}