/*CSS general de elementos*/
*{
    margin:0px;
    padding:0px;
}
body{
    background-color: #222;
    color: white;
    font: 200 14px 'Poppins', sans-serif;
}
h2{
    font-size: 36px;
    line-height: 36px;
}
h3{
    color: #999;
    font-size: 18px;
    font-weight: 300;
}
p{
    text-align: justify;
}
cite{
    font-weight: 300;
}
i{
    font-size: 24px;
}
/*CSS IDs y Clase*/
.hastag{
    color: #ffc900;
}
.seccion{
    padding: 10px 100px 10px 100px;
}
#redessociales{
    margin-top: 20px;
    list-style: none;
}
#inicio{
    background-image: url("../imagenes/inicio.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 280px;
}
#experiencia{
    background-color: white;
    color: #222;
}
#portfolio{
    border-top: 1px solid #ffc900;
}